
@media (min-width: 992px) {

  .desktop_and_tablet {width: 960px;
  height: 700px;
  margin: auto;
  }


  .main {flex-grow: 2;}
  
  section , .content  {  display: flex;}
   
  section div {flex-grow: 1;}



  /*sizes*/

  header { height: 100px ;
       line-height: 100px ;}
  
 .bb { height:600px;
       line-height: 600px ;
      flex-grow: 1;}
  
  .cc, .dd { height: 200px ;
           line-height: 200px ;}
  
  .ee ,.ff ,.gg ,.hh { height:250px ;
                   line-height: 250px ;}

  footer { height: 150px;
     line-height: 80px ; } 


  /*hidden*/
  .mobile , h1:nth-child(2),h1:nth-child(3) { display: none;}
  } 






  /*---------------------------------------------------*/

   @media (min-width: 769px) and (max-width:991px) { 
    
  .desktop_and_tablet {width: 740px;
    height: 700px;
    margin: auto;
    }
  
  
    .main {flex-grow: 2;}
    
    section , .content  {  display: flex;}
     
    section div {flex-grow: 1;}
  
  
  
    /*sizes*/
  
    header { height: 100px ;
         line-height: 100px ;}
    
   .bb { height:600px;
         line-height: 600px ;
        flex-grow: 1;}
    
    .cc, .dd { height: 200px ;
             line-height: 200px ;}
    
    .ee ,.ff ,.gg ,.hh { height:250px ;
                     line-height: 250px ;}
  
    footer { height: 150px;
       line-height: 80px ; } 
  
  
    /*hidden*/
    .mobile , h1:nth-child(1),h1:nth-child(3){ display: none;}
  } 
  


  /*---------------------------------------------------*/

   @media  (max-width: 768px) {
     
/* .mobile div {
  background-color: blueviolet;
border: 2px solid black;
}   */

.mobile {width: 480px;
      height: 1,055px; 
      margin: auto;
}

.divRow1, .divRow2 {
  display: flex;
}

.midDiv div {
  flex-grow: 1;
}




 /*sizes*/
  .a {
       height: 75px ;
    line-height: 75px ; }
  
  .b { height:150px;
    line-height: 150px ; }
  
  
  .c, .d { height: 125px ;
    line-height: 125px ; }
  
  .e ,.f ,.g ,.h { height:250px;
    line-height: 250px ;  }
  
    i { height: 150px ;
      line-height: 80px ;} 

  /*hidden*/
  .desktop_and_tablet , h1:nth-child(2),h1:nth-child(1) { display: none;}
  
  }
