
  .a , .c , .e , .g , .i {
    background-color: rgb(181, 253, 179);
  }
  
  .b , .d , .f , .h {
    background-color: rgb(6, 155, 155);
  }


@media (min-width: 768px) {

  .layoutDiv { border: 1px solid black;}
  .a , .b , .i, .divRow-1 , .divRow-2 {border-bottom: 1px solid black;}
  .midDiv div { border-left: 1px solid black; }
  .a , .c , .e , .g , .i {
    background-color: rgb(253, 255, 108);
  }
  
  .b , .d , .f , .h {
    background-color: rgb(247, 101, 33);
  }
}


 @media (min-width: 480px) and (max-width: 767px) {
.layoutDiv { border: 1px solid black;}
.a , .b , .c , .e , .f, .divRow-1 , .divRow-2 {border-bottom: 1px solid black;}
.f , .h { border-left: 1px solid black;}
  .a , .c , .e , .g , .i {
    background-color: rgb(250, 196, 214);
  }
  .b , .d , .f , .h {
    background-color: rgb(190, 1, 181);
  }
 }